/* Pré Sets */
* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    height: 9000px;
}
/* Fim Pré Sets */



/* Inicio Head */
.header {
    width: auto;
    height: 40px;
    background-color: #99d1f47f;
    border: solid 1px black;
    text-align: center;
    padding-top: 12px;
}

.button-home {
    background-color: #76c3f2fe;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid 1px;
    letter-spacing: 2px;
}
/* Fim Head */



/* Inicio Corpo */
.main {
    height: auto;
    width: auto;
    background-color: #99d1f47f;
    border: solid 1px black;
}

pre, code {
    line-height: 20px;
    font-size: 11px;
}

::-webkit-scrollbar {
    background-color: #ffffff;
    border-left: 1px solid black;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #37378f;
    border-radius: 1px;
    height: 10px;
}
/* Fim Corpo */